.footer {
    background-image: url('footer.jpg'); /* Adjust the path if the image is in a different folder */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 10px; /* Or any other height appropriate for your footer */
  }
  